*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body,#root {
  background-color: rgb(250, 197, 197);
  height: 100vh;
  width: 100vw;
}


section{
    width: 100vw;
    height: 85vh;
    background-color: #ffbc6a;
    display: flex;
    align-items: center;
    justify-content: center;
}
